html
  {
    background-color: rgb(40, 40, 40);
}
.main {
    width: 100%; height: fit-content; border: rgba(221, 221, 230, 0.281); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; font-size: 15px;
  }
  .heading {
    width: 68%; float: left; height: fit-content; background-color:rgb(40, 40, 40); font-family: fantasy; font-size: 75px;
    margin: auto; padding: 10px 10px 10px 60px; 
  }
  .myphoto {
    width: 5cm; text-align: center; height: 15cm; border: 3mm; background-color:rgb(2, 2, 26); float: right; padding: 30px 20px 10px 10px; border-color: aqua(241, 238, 238); 
  }
  .test{
    width: fit-content; height: fit-content; 
  }
  .qr-code-container {
    width: 200px;
    height: 200px;
    /* other styling as needed */
  }
  .qr-code-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .theneed {
    width: 69%; height: 15cm; text-align: left; padding: 30px 14px 5px 70px; order: 5px solid; background-color: rgb(40, 40, 40); font-family: Arial, Helvetica, sans-serif;  
  }
  .selectg {
    width: 35%; text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    height: 9cm; background-color: rgb(2, 2, 26); 
    float: left; padding: 30px 10px 10px 60px; 
    box-shadow: 10px 5px 5px rgb(117, 117, 20);
}
.coffeebreak {
    width: 55%; float: right;    
    height: 9.5cm; text-align: center;
  </style>
  </head>
  <body>
  </body>
  </html>ound-color:black; border: 2mm;  
  }
  