html
  {
    background-color: rgb(40, 40, 40);
}
.main {
    width: 100%; height: fit-content; border: rgba(221, 221, 230, 0.281); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; font-size: 15px;
  }
  .heading {
    width: fit-content; float: left; height: fit-content; background-color:rgba(161, 153, 32, 0); font-family: fantasy; font-size: 75px;
    margin: auto; padding: 10px 10px 10px 60px; 
  }
  .myphotobox {
    width: 30px; text-align: center; height: fit-content; background-color:rgb(2, 2, 26); float: right;  
  }
  .myphoto-img {
    width: fit-content; height: fit-content;  
  }
  .qr-code-container {
    border-width: 30px; height: 30px; text-align: center; background-color: rgb(216, 121, 121);  
  }
  .theneed {
    width: 69%; height: 15cm; text-align: left; padding: 30px 14px 5px 70px; order: 5px solid; background-color: rgb(40, 40, 40); font-family: Arial, Helvetica, sans-serif;  
  }
  .selectg {
    width: 35%; text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    height: 10.5cm; background-color: rgb(2, 2, 26); 
    float: left; padding: 30px 10px 10px 60px; 
    box-shadow: 10px 5px 5px rgb(117, 117, 20);
  }
  .coffeebreak {
    width: 55%; float: right; background-color: black;    
    height: 11.5cm; text-align: center;
  }
  
  